body {
  font-family: sans-serif;
  background: radial-gradient(
    343px at 46.3% 47.5%,
    rgb(242, 242, 242) 0%,
    rgb(241, 241, 241) 72.9%
  );
}
* {
  box-sizing: border-box;
}
.title {
  color: black;
  font-family: "Trocchi", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
  text-align: center;
}
.grid {
  margin: 1rem auto;
}
.grid-item {
  width: 350px;
  height: auto;
  margin: 1em;
}
.card {
  border: 1px solid #ccc;
  background: #fffdfb;
  border-radius: 5px;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: auto;
}
.card-v2 {
  overflow: hidden;
  position: relative;
}
.card-v2 ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
  height: 100%;
  z-index: 0;
  border-radius: 5px;
}
.card-v2 img {
  border-radius: 5px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card-v2 .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}
.card-content {
  padding: 1.5em 1.5em 0.5em 1.5em;
}
.card-content h2 {
  margin-top: 0;
}
.card-content p {
  font-size: 1.1em;
  line-height: 30px;
  color: #9b9b9b;
}
